@{
    ViewData["Title"] = "Trainer Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="jumbotron bg-dark text-white p-5 rounded">
        <h1>Welcome, Coach!</h1>
        <p class="lead">This is your Trainer Portal.</p>
        <hr class="my-4" style="background-color: white;">
        <p>Manage your clients, update workout programs, and track progress.</p>
        
        <div class="mt-4">
            <a class="btn btn-info btn-lg" href="#" role="button">My Clients</a>
            <a class="btn btn-outline-light btn-lg" href="#" role="button">Workout Plans</a>
        </div>

        <div class="mt-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Training Schedule</a>
        </div>
    </div>
</div>